.mainBody {
    width: 100%;
    height: 100vh;
    background-color: salmon;
    position: relative;
}

.stockDetail {
    background-color: palegoldenrod;
    width: 70%;
    height: 100vh;
    display:flex;
    position: relative;
}

.stockBox{
    min-width: 40vw;
    height: 300px;
    background-color: pink;
    position: absolute;
    top: 100px;
    right: 50px;
}