.mainBody {
    width: 100%;
    height: auto;
    background-color: #1b1b1c;
    display: flex;
    color: white;

}

.stockContainer {
    width: 70%;
    min-width: 800px;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.newsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stockBox{
    margin: 100px;
    width: 700px;
    padding-right: 10px;
    height: 550px;
    display: flex;
    flex-direction: column;
    /* border: solid 1px white; */
    /* box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); */
}




.listsContainer {
    width: 30%;
    min-width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 100px;
}


.watchlist {
    margin: 50px;
    margin-top: 0;
    width: 250px;
    height: 250px;
    position: relative;
    border: solid 1px white;
}

#redGain {
    color: rgb(255, 80, 0)
}

#greenGain {
    color: rgb(0, 200, 5)
}