.newsArticle {
    width: 90%;
    margin: 10px;
    padding: 10px;
    display: grid;
    border: solid 1px white;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "headline headline"
    "image content";
    background-color: rgba(255,255,255, .1);

}

.newsHeadline {
    grid-area: headline;
    font-size: 30px;
    text-overflow: ellipse;
    color: #00eaff;
    cursor: pointer;
}

.newsHeadline:hover {
    text-shadow: 0 0 5px rgba(0, 234, 255, 0.5);
}

.newsImg {
    grid-area: image;
    width: 100px;
    height: 100px;
    margin: 15px;
    object-fit: cover;
    object-position: 50% 20%;
}



.summary {
    padding: 10px;
    grid-area: content;
    margin: 10px;
    max-height: 150px;
    overflow: scroll;
}

.stockButtons {
    width: 60%;
    height: 100%;
    padding: 20px;
    padding-top: 30px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    " watch shares shares"
    " . input1 buy"
    " . input2 sell";
    justify-content: center;
    align-items: center;
}



.buyButton {
    grid-area: buy;
    width: max-content;
    color: #00eaff;
    text-decoration: none;
    font-family: 'DM Sans',
        sans-serif;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 2px 5px;
    font-family: "DM Sans",
        Arial,
        Helvetica,
        sans-serif;
    text-align: center;
}

.buyButton:hover {
    cursor: pointer;
    text-decoration: underline;
}

.buyInput{
    grid-area: input1;
    width: 40px;
    height: 20px;
    border: none;
    border-radius: 10px;
    text-align: right;
}

.sellInput {
    grid-area: input2;
    width: 40px;
    height: 20px;
    border: none;
    border-radius: 10px;
    text-align: right;
}

.buyInput:focus {
    border: none;
    outline: none;
}
.sellInput:focus {
    border: none;
    outline: none;
}
.sellButton {
    grid-area: sell;
    width: max-content;
    color: #00eaff;
    text-decoration: none;
    font-family: 'DM Sans',
        sans-serif;
    /* background-color: whitesmoke; */
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 2px 5px;
    font-family: "DM Sans",
        Arial,
        Helvetica,
        sans-serif;
    text-align: center;
}

.sellButton:hover {
    cursor: pointer;
    text-decoration: underline;
}

.watchButton {
    grid-area: watch;
    display: flex;
    justify-content: flex-end;
    width: max-content;
    color: #00eaff;
    text-decoration: none;
    font-family: 'DM Sans',
        sans-serif;
    /* background-color: whitesmoke; */
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: "DM Sans",
        Arial,
        Helvetica,
        sans-serif;
    text-align: center;
}

.watchButton:hover {
    cursor: pointer;
    text-decoration: underline;
}


.stockShares {
    grid-area: shares;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: auto;
    color: #1b1b1c;
    font-weight: 100;
    background-color: white;
    /* border: solid 1px white; */
    border-radius: 10px;
    font-size: 19px;
    font-family: "DM Sans",
    Arial,
    Helvetica,
    sans-serif;
    text-align: center;
}

.stockInfo {
    width: 100%;
    height: 30%;
    display: flex;
    box-sizing: border-box
}

.stockText {
    width: 40%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    padding-bottom: 0px;
}

.stockName {
    height: 60px;
    overflow: scroll;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
}

.stockSymbol {
    line-height: 30px;
    margin-top: 2px;
    margin-left: 5px;
    margin-bottom: 0px;
    font-size: 18px;
}

.stockPrice {
    line-height: 30px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.stockChange {
    line-height: 20px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}



.stockChart {
    width: 100%;
    height: 50%;
}

.netGain {
    display: flex;
    
}
