.stockCharts > canvas{
    margin-bottom: 30px;
}

.portfolioName {
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    color: #00eaff;
    text-shadow: 0 0 5px rgba(0, 234, 255, 0.5);
}