.formFieldLogin {
    width: 200px;
    padding: 5px;
    height: 15px;
    border: 0px;
    outline: none;
    background-color: whitesmoke;
    color: #404040;
    font-weight: bold;
        border: none;
        border-radius: 5px;
}

.loginErrorContainer {
    position: absolute;
    top: 0px;
    width: 100%;
}