/* .partitionContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom:0;
    
} */

#loginPartition {
    position:fixed;
    left: 0px;
    bottom: 0px;
    height: 0vh;
    width: 30vw;
    background-color: #1b1b1c;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s linear;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

#signupPartition {
    position: fixed;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.25);
    transition: all 1s linear;
    right: 0px;
    top: 0px;
    height: 100vh;
    width: 70vw;
    background-color: whitesmoke;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signupButton {
    z-index: 2;
}
#loginButton {
    /* visibility: hidden; */
    z-index: 2;
}

.aboutSignUpParagraph {
    color: #00eaff;
    position: absolute;
    bottom: 0px;
    height:100px;
    width: 300px;
}
.aboutLoginParagraph {
    color: #00eaff;
    position: absolute;
    top: 0px;
}

.aboutLogo {
    height: 100px;
    background-image: url('../../littlejonlogo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../littlejonlogo.svg');
}

.loginIllustration {
    position: absolute;
    top:200px;
    left: -80px;
    height: 200%;
    width: 200%;
    object-fit: contain;
    object-position: 20% 50%;
    background-repeat: no-repeat;
    background-image: url('../../littlejonillustration.svg')
}