.formField {
    width: 200px;
    padding: 5px;
    height: 15px;
    border: 0px;
    outline: none;
    color: #404040;
    background-color: #1b1b1c;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
}
.signup {
}
.signupLabel{
    color: #1b1b1c;
}

.signupErrorContainer {
    position: absolute;
    top:5%;
    width: 80%;
}