.navbar {
    width: 100%;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1c;
    margin: 0px;
    padding-right: 50px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: solid 1px white;
  position: sticky;
      top: 0;
      z-index: 2;

}

.user-login {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar {
    font-family: "DM Sans",
        Arial,
        Helvetica,
        sans-serif;
    justify-self: center;
    width: auto;
    padding: 5px;
    height: 25px;
    position: absolute;
    width: 40vw;
    top: 25px;
    left: 30vw;
    right: 30vw;
    text-align: center;
    outline: none;
    border-radius: 10px;
    border: none;
}

 /* clears the 'X' from Internet Explorer */
 input[type=search]::-ms-clear {
     display: none;
     width: 0;
     height: 0;
 }

 input[type=search]::-ms-reveal {
     display: none;
     width: 0;
     height: 0;
 }

 /* clears the 'X' from Chrome */
 input[type="search"]::-webkit-search-decoration,
 input[type="search"]::-webkit-search-cancel-button,
 input[type="search"]::-webkit-search-results-button,
 input[type="search"]::-webkit-search-results-decoration {
     display: none;
 }

.searchbar::placeholder{
    color: gray;
}
.searchbar:focus {
    background-color: gray;
    border: none;
    color: white;
}

.logo {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit:contain;
    object-position: 50% 20%;
    
}

.profileButton {
    font-size: 35px;
}

.profile {
    display: flex;
    justify-content: center;
    position: relative;
    width: 70px;
    height: 70px;
    align-items: center;
    box-sizing: border-box;
    color: #00eaff;
}

.profile-dropdown {
    position: absolute;
    top: 53px;
    right: 12px;
    z-index: 5;
    background-color: #1b1b1c;
    width: auto;
    padding: 5px;
    padding-bottom: 15px;
    height: auto;
    box-sizing: border-box;
    border: solid 1px white;
    border-top: solid 1px #1b1b1c;
}

.profile-dropdown>li {
    list-style: none;
    margin:10px;
}

