.navbar {
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 0px;
    padding-right: 50px;
    padding-left: 30px;
    box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  position: sticky;
      top: 0;
      left: 0;
      right: 0;

}

.user-login {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar {
    justify-self: center;
    width: auto;
    padding: 5px;
    position: absolute;
    width: 40vw;
    left: 30vw;
    right: 30vw;


}

.logo {
    width: 50px;
    height: 50px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    justify-content: center;
    position: relative;
    width: 30px;
    background-color: blue;
}

.profile-dropdown {
    position: absolute;
    right: -40px;
    top: 5px;
    decoration: none;
}